<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="assets/app.css" media="screen" />
  </head>
  <body role="application">
    <script src="assets/loader.js"></script>
    <script src="assets/app.js"></script>
    <script>
      loader.require('<%= name %>/main');
    </script>
  </body>
</html>
