<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="app.css" media="screen" />
  </head>
  <body role="application">
    <script src="loader.js"></script>
    <script src="app.js"></script>
    <script>
      loader.require('<%= name %>/main');
    </script>
  </body>
</html>
