require('jquery');
require('handlebars');
require('ember');
require('ember-data');
require('<%= name %>/ext');
require('<%= name %>/env');

App = Ember.Application.create({
  VERSION: '0.1',

  ready: Em.alias('initialize')
});
