<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><%= title %></a>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container">
  <i class="icon-beaker"></i> <%= title %> v{{App.VERSION}}
</div>
